{% extends "base.html" %}

{% block title %}Przygotuj WZ{% endblock %}

{% block content %}
      <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if not current_week %}
                            <label>Wybierz tydzień:</label>
                                 {% for week in Weeks %}
                                    <a href = "{{ url_for( 'create_records_per_week', week_id=week.id) }}">
                                        <option>Tydzień {{ week.week_no }}</option></a>
                                {% endfor %}
                            {% else %}
                            <label>Tydzień: {{ current_week.week_no }}</label>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                        {% if current_week %}

                                            {% set start_date = current_week.start_date.date() %}
                                            {% for i in range(0, 5) %}
                                            <div class="col-lg-2">
                                               <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        {% set current_date = start_date + datetime.timedelta(days=loop.index-1) %}
                                                        Dzień {{ current_date }}
                                                    </div>
                                                       {% if current_date.strftime('%Y-%m-%d') in selected_schools_product_view.keys()%}
                                                       {% set product_view = True %}
                                                       {% endif %}

                                                      {% if not product_view %}
                                                       <form role="form" action="" method="post">
                                                       <input type="hidden" name="school_selector" value="{{ current_date }}"/>
                                                           <div class="form-group">
                                                                <div class="panel-body">
                                                                    <select name="schools_{{ current_date }}" multiple class="form-control" size="25">
                                                                        {% for school in schools_with_contracts %}
                                                                        <option name="schools_{{ current_date }}" value="{{school.id}}">{{ school.nick }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                               <div class="panel-footer">
                                                                <button type="submit" class="btn btn-outline btn-primary btn-block">Wybierz</button>
                                                                <button type="reset" class="btn btn-outline btn-warning btn-block">Wyczyść</button>
                                                                <a href="{{ url_for( 'record_created', current_date=current_date, week_id=current_week.id) }}" class="btn  btn-outline btn-success btn-block">Pokaż WZ</a>
                                                                </div>
                                                            </div>
                                                       </form>
                                                   {% else %}
                                                   <form role="form" action="" method="post">
                                                       <input type="hidden" name="record_selector" value="{{ current_date }}"/>
                                                        {% for school in selected_schools_product_view[current_date.strftime('%Y-%m-%d')] %}
                                                        <label>{{ school.nick }}</label>
                                                        <select name="records_schoolId_{{ school.id }}" class="form-control">
                                                            <option name="records_schoolId_{{ school.id }}" value=""></option>
                                                            {% for fruitVeg in products_veg %}
                                                            <option name="records_schoolId_{{ school.id }}" value="{{ fruitVeg.id }}">{{ fruitVeg.get_name_mapping() }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <select name="records_schoolId_{{ school.id }}" class="form-control">
                                                            <option name="records_schoolId_{{ school.id }}" value=""></option>
                                                            {% for dairy in products_dairy %}
                                                            <option name="records_schoolId_{{ school.id }}" value="{{ dairy.id }}">{{ dairy.get_name_mapping() }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        {% endfor %}
                                                        <div class="panel-footer">
                                                            <button type="submit" class="btn btn-outline btn-primary btn-block">Generuj</button>
                                                           <a href="{{ url_for( 'record_created', current_date=current_date, week_id=current_week.id) }}" class="btn  btn-outline btn-success btn-block">Pokaż WZ</a>
                                                            <a href="{{ url_for( 'create_records_per_week', week_id=current_week.id) }}" class="btn btn-outline btn-default btn-block">Powrót</a>
                                                        </div>
                                                   </form>
                                                   {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}

                                </div>
                            {% if current_week %}
                                <div class="row">
                                     <div class="col-lg-3">
                                         <div class="panel panel-info">
                                                    <div class="panel-heading">Podsumowanie</div>
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>SP</th>
                                                                        <th>WO</th>
                                                                        <th>NB</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for school_in_week in weekly_product %}
                                                                    <tr>
                                                                        <td>{{ school_in_week[0].nick }}</td>
                                                                                {% if school_in_week[1].get_type_mapping() == "wo" %}
                                                                                    <td>{{ school_in_week[2] }}</td>
                                                                                {% else %}
                                                                                    <td>0</td>
                                                                                {% endif %}
                                                                                {% if school_in_week[1].get_type_mapping() == "nb" %}
                                                                                     <td>{{ school_in_week[2] }}</td>
                                                                                {% else %}
                                                                                     <td>0</td>
                                                                                {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                         </div>
                                     </div>
                                    {% endif %}
                        </div>
                                </div>
                    </div>
      </div>
{% endblock %}
