{% extends "base.html" %}

{% block title %}
Wygenerowane WZ dla
{% if records %}
{{ records[0].contract.school.nick }}
{% endif %}
{% endblock %}

{% block content %}
<div class="panel-body">
    <table width="100%" class="table table-bordered table-hover" id="wz-table">
        <thead>
        <tr>
            <th>Data</th>
            <th>Product</th>
            <th>Typ</th>
            <th>Ilość</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if records %}
        {% for record in records %}
        {% if record.state|string() == 'RecordState.DELIVERED' %}
        <tr class="success">
            {% else %}
        <tr class="warning">
            {% endif %}
            <td>{{ record.date.date() }}</td>
            <td>{{ record.product.get_name_mapping() }}</td>
            <td>{{ record.product.get_type_mapping() }}</td>
            {% if record.product.get_type_mapping() == "wo" %}
            <td>{{ record.contract.fruitVeg_products }}</td>
            {% endif %}
            {% if record.product.get_type_mapping() == "nb" %}
            <td>{{ record.contract.dairy_products }}</td>
            {% endif %}
            <td>
                {% if record.state|string() == 'RecordState.NOT_DELIVERED' %}
                <form role="form" action="" method="post">
                    <button type="submit" name="action" value="update_{{ record.id }}" class="btn btn-info btn-circle">
                        <i class="fa fa-check"></i></button>
                    <button type="submit" name="action" value="delete_{{ record.id }}"
                            class="btn btn-warning btn-circle"><i class="fa fa-times"></i></button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <!-- /.table-responsive -->
    <!-- /.panel-body -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">WZ</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for( 'create_records') }}">
                <div class="panel-footer">
                    <span class="pull-left">Wróć do wyboru szkoły</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}
