{% extends "base.html" %}

{% block title %}
{% if current_date %}
Wygenerowane WZ na {{ current_date }}
{% endif %}
{% endblock %}


<div class="panel-body">
    {% block content %}
    <!--<div class="col-lg-6 col-md-6">-->
        <!--<div class="panel panel-blue">-->
            <!--<a href="{{ url_for( 'create_records_per_week', week_id=week_id) }}">-->
                <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">{{ prev_date }}</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-left"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="panel panel-blue">-->
            <!--<a href="{{ url_for( 'create_records_per_week', week_id=week_id) }}">-->
                <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">{{ next_date }}</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-lg-12 col-md-8">
        <table width="100%" class="table table-bordered table-hover" id="wz-table">
            <thead>
            <tr>
                <th>Szkoła</th>
                <th>Product</th>
                <th>Typ</th>
                <th>Ilość</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if daily_records %}
            {% for record in daily_records %}
            {% if record.state|string() == 'RecordState.DELIVERED' %}
            <tr class="success">
                {% else %}
            <tr class="warning">
                {% endif %}
                <td>{{ record.contract.school.nick }}</td>
                <td>{{ record.product.get_name_mapping() }}</td>
                <td>{{ record.product.get_type_mapping() }}</td>
                {% if record.product.get_type_mapping() == "wo" %}
                <td>{{ record.contract.fruitVeg_products }}</td>
                {% endif %}
                {% if record.product.get_type_mapping() == "nb" %}
                <td>{{ record.contract.dairy_products }}</td>
                {% endif %}
                <td>
                    {% if record.state|string() == 'RecordState.NOT_DELIVERED' %}
                    <form role="form" action="" method="post">
                        <button type="submit" name="action" value="update_{{ record.id }}"
                                class="btn btn-info btn-circle">
                            <i class="fa fa-check"></i></button>
                        <button type="submit" name="action" value="modify_{{ record.id }}"
                                class="btn btn-primary btn-circle"><i class="fa fa-list"></i></button>
                        <button type="submit" name="action" value="delete_{{ record.id }}"
                                class="btn btn-warning btn-circle"><i class="fa fa-times"></i></button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <!-- /.table-responsive -->
    <!-- /.panel-body -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">WZ</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for( 'create_records_per_week', week_id=week_id) }}">
                <div class="panel-footer">
                    <span class="pull-left">Dodaj</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}