{% extends "base.html" %}

{% block title %}Dane szkoły{% endblock %}

{% block content %}
      <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edytuj dane szkoły
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <form role="form" action="{{ request.path }}"   method="post">
                                            <div class="form-group">
                                                <label>Nick</label><input class="form-control" name="nick" {% if  School.nick  %} value="{{ School.nick }}"{% endif %}>
                                                <label>Nazwa</label><input class="form-control" name="name" {% if  School.name  %} value="{{ School.name }}"{% endif %}>
                                                <label>Adres</label><input class="form-control" name="address" {% if  School.address  %} value="{{ School.address }}"{% endif %}>
                                                <label>REGON</label><input class="form-control" name="regon" {% if  School.regon  %}value="{{ School.regon }}"{% endif %}>
                                                <label>NIP*</label><input class="form-control" name="nip" {% if  School.nip  %}value="{{ School.nip }}"{% endif %}>
                                                <label>Email</label><input class="form-control" name="email" {% if  School.email  %}value="{{ School.email }}"{% endif %}>
                                                <label>Telefon</label><input class="form-control" name="phone" {% if  School.phone  %}value="{{ School.phone }}"{% endif %}>
                                                <label>Miasto</label><input class="form-control" name="city" {% if  School.city  %}value="{{ School.city }}"{% endif %}>
                                                <label>Osoba reprezentująca</label><input class="form-control" name="responsible_person" {% if  School.responsible_person  %}value="{{ School.responsible_person }}"{% endif %}>
                                                <label>Nazwa organu prowadzącego*</label><input class="form-control" name="representative" {% if  School.representative  %}value="{{ School.representative }}"{% endif %}>
                                                <label>NIP organu prowadzącego*</label><input class="form-control" name="representative_nip" {% if  School.representative_nip  %}value="{{ School.representative_nip }}"{% endif %}>
                                                <label>REGON organu prowadzącego*</label><input class="form-control" name="representative_regon" {% if  School.representative_regon  %}value="{{ School.representative_regon }}"{% endif %}>
                                                <p class="help-block">*pola nieobowiązkowe</p>
                                            </div>

                                    <button type="submit"  class="btn btn-primary btn-lg btn-block">Zapisz</button>
                                </form>
                            </div>
                            <div class="col-lg-6">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Data zawarcia</th>
                                            <th>Data obowiązywania</th>
                                            <th>Produkt owocowy</th>
                                            <th>Produkt melczny</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for contract in Contracts %}
                                        <tr {% if contract.is_annex %} class="warning" {% endif %} {% if not contract.is_annex %} class="info" {% endif %}>
                                            <td>{{ contract.contract_no}}/{{contract.contract_year }}</td>
                                            <td>{{ contract.contract_date.date() }}</td>
                                            <td>{{ contract.validity_date.date() }}</td>
                                            <td>{{ contract.fruitVeg_products }}</td>
                                            <td>{{ contract.dairy_products }}</td>
                                            <td>
                                                {% if not contract.is_annex %}
                                                <button type="button" onclick="window.location.href='{{ url_for( 'school_form_add_contract' , school_id=contract.school_id ) }}';" class="btn btn-default">Edytuj</button>
                                                    {% if contract.fruitVeg_products == 0 and contract.dairy_products == 0 %}
                                                    <button type="button" onclick="window.location.href='{{ url_for( 'contract_delete' , school_id=contract.school_id, contract_id=contract.id ) }}';" class="btn btn-default">Usuń</button>
                                                    {% endif %}
                                                {% else %}
                                                <button type="button" onclick="window.location.href='{{ url_for( 'school_form_edit_annex' , school_id=contract.school_id, annex_id=contract.id ) }}';" class="btn btn-default">Edytuj</button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                {% if not Contracts %}
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-tasks fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">Dodaj Umowe</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ url_for( 'school_form_add_contract', school_id=School.id) }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">Dodaj</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                    </a>
                                </div>
                                {% endif %}
                             <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Dodaj Aneks</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for( 'school_form_add_annex', school_id=School.id) }}">
                            <div class="panel-footer">
                                <span class="pull-left">Dodaj</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                        </div>
                        </div>
                    </div>
      </div>
{% endblock %}