{% extends "base.html" %}

{% block title %}Dane szkoły{% endblock %}

{% block content %}
      <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dodaj aneks dla
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                {%- for category, message in get_flashed_messages(with_categories = true) %}
                                 <div class = "alert alert-danger">
                                    {{ message }}
                                 </div>
                                {%- endfor %}
                                <form role="form" acton="{{ request.path }}" method="post">
                                            <div class="form-group">
                                                <label>Data zawaracia</label><input class="form-control" name="contract_date">
                                                <label>Data obowiązywania</label><input class="form-control" name="validity_date">
                                                <label>Produkt owocowo-warzywny</label><input class="form-control" name="fruitVeg_products">
                                                <label>Produkt mleczny</label><input class="form-control" name="dairy_products">
                                                <div class="checkbox">
                                                <label>
                                                    <input type="hidden" name="is_contract" value=""/>
                                                    <input type="checkbox" name="is_contract" value="1"/>Nowa umowa
                                                </label>
                                            </div>
                                            </div>

                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Dodaj</button>
                                </form>
                            </div>
                        </div>
                    </div>
      </div>
{% endblock %}
